.tscache
.baseDir.ts
node_modules
.idea
/ts-node-*
.v8flags.*
.nyc_output/
Coverage/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
Thumbs.db